# Git 配置模板
# 此文件由 chezmoi 自动生成

[user]
	name = {{ .git.user.name | quote }}
	email = {{ .git.user.email | quote }}

[core]
{{- if eq .chezmoi.os "windows" }}
	{{- /* Windows editor 智能选择：code -w > nvim > vim > notepad */ -}}
	{{- if lookPath "code" }}
	editor = code --wait
	{{- else if lookPath "nvim" }}
	editor = nvim
	{{- else if lookPath "vim" }}
	editor = vim
	{{- else }}
	editor = notepad
	{{- end }}
{{- else }}
	{{- if lookPath "nvim" }}
	editor = nvim
	{{- else }}
	editor = vim
	{{- end }}
{{- end }}
{{- if eq .chezmoi.os "windows" }}
	autocrlf = true
{{- else }}
	autocrlf = input
{{- end }}
{{- if .git.delta.enabled }}
	pager = delta
{{- end }}

{{- if .git.delta.enabled }}

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	side-by-side = {{ .git.delta.side_by_side }}
	line-numbers = true
{{- end }}

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default
	algorithm = histogram

[blame]
	coloring = highlightRecent

[init]
	defaultBranch = main

[pull]
	rebase = false

[commit]
	verbose = true

[help]
	autocorrect = prompt

[branch]
	sort = -committerdate

[rerere]
	enabled = true

[rebase]
	autosquash = true
	autoStash = true

[fetch]
	prune = true

[push]
	autoSetupRemote = true

# =========================
# 常用 Git aliases
# =========================
[alias]
	co = checkout
	br = branch
	st = status
	ci = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --oneline --graph --decorate --all
	uncommit = reset --soft HEAD~1
	amend = commit --amend --no-edit
	# 显示已修改但未暂存的文件
	wip = !git add -A && git commit -m "WIP"
